/*body{
	width:70%;
	margin:0;
	font-family: sans-serif;

}*/

.navbar {
	width: 960px;
	margin: 0 auto;
}

.navbar a{
	
	color: #eeeeee;
    font-size: 24px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
}

.navbar li{
	display: inline;

}

.bg-div{
	background: url('header.png') center top;
	height: 100vh;
	width: 100vw;
}

body{
	background-color: #333333;
}
